@page "/about"

<div class="container my-5">
    <h1 class="display-4">Sobre Nosotros</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Misión</h2>
            <p>
                Aqui va la mision de ferrexpress
            </p>
        </div>
        <div class="col-md-4">
            <h2>Visión</h2>
            <p>
                Aqui va la mision de ferrexpress
            </p>
        </div>
        <div class="col-md-4">
            <h2>Historia</h2>
            <p>
                Aqui va una breve historia
            </p>
        </div>
    </div>
</div>

<style>
    .display-4 {
        font-size: 2.5rem;
    }

    @@media (max-width: 767.98px) {
        .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .display-4 {
            font-size: 1.75rem;
        }

        .container.my-5 {
            margin-top: 1.5rem !important;
            margin-bottom: 1.5rem !important;
        }

        h2 {
            font-size: 1.25rem;
        }

        p {
            font-size: 16px;
            min-font-size: 16px;
        }
    }
</style>