<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 text-center text-md-left mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><a href="privacy">Política de Privacidad</a></li>
                    <li><a href="terms">Términos y Condiciones</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
                <h5>Ferrexpress</h5>
                <ul class="list-unstyled social-media d-flex justify-content-center">
                    <li class="mx-3">
                        <a href="https://www.facebook.com/profile.php?id=61555674636091" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="https://www.instagram.com/ferrexpresshn" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="https://wa.link/3cwl53" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center text-md-right">
                <ul class="list-unstyled">
                    <li><a href="contact">Contacto</a></li>
                    <li><a href="about">Acerca de Nosotros</a></li>
                </ul>
            </div>
        </div>

        <hr>
        <div class="text-center mt-3">
            <p>&copy; @DateTime.Now.Year Ferrexpress. Todos los derechos reservados.</p>
        </div>
    </div>
</div>

<style>
    .footer {
        background-color: #000000;
        color: #ffffff;
        padding: 50px 0;
        /* Eliminar margin-top grande; ahora no lo necesitamos */
    }

        .footer h5 {
            margin-bottom: 20px;
            color: #F5C144;
            font-size: 1.5rem;
        }

        .footer a {
            color: #ffffff;
            text-decoration: none;
        }

            .footer a:hover {
                color: #F5C144;
            }

        .footer .social-media li {
            display: inline-block;
        }

            .footer .social-media li a {
                color: #ffffff;
                font-size: 24px;
                transition: color 0.3s;
            }

                .footer .social-media li a:hover {
                    color: #F5C144;
                }

        .footer hr {
            border-top: 1px solid #A7A9AC;
        }

        .footer .text-center p {
            margin: 0;
            color: #A7A9AC;
        }
</style>
